In [1]:
import pandas as pd
import numpy as np

In [2]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [4]:
match.shape

(816, 17)

In [5]:
delivery.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [6]:
total_score_df = delivery.groupby(['id','inning']).sum()['total_runs'].reset_index()

In [7]:
total_score_df=total_score_df[total_score_df['inning']==1]

In [8]:
total_score_df

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [9]:
match_df=match.merge(total_score_df[['id','total_runs']],left_on='id',right_on='id')

In [10]:
match_df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,total_runs
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,222
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,240
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,129
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,165
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,201
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,200
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,131
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,189
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,156

In [11]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [12]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [13]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [14]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [15]:
match_df.shape

(701, 18)

In [16]:
match_df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,total_runs
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,222
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,240
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,129
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,165
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,201
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,200
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,131
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,189
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,156

In [17]:
match_df = match_df[['id','city','winner','total_runs']]

In [18]:
match_df

          id        city                       winner  total_runs
0     335982   Bangalore        Kolkata Knight Riders         222
1     335983  Chandigarh          Chennai Super Kings         240
2     335984       Delhi             Delhi Daredevils         129
3     335985      Mumbai  Royal Challengers Bangalore         165
4     335986     Kolkata        Kolkata Knight Riders         110
..       ...         ...                          ...         ...
811  1216547       Dubai  Royal Challengers Bangalore         201
812  1237177       Dubai               Mumbai Indians         200
813  1237178   Abu Dhabi          Sunrisers Hyderabad         131
814  1237180   Abu Dhabi               Delhi Capitals         189
815  1237181       Dubai               Mumbai Indians         156

[701 rows x 4 columns]

In [19]:
delivery_df = match_df.merge(delivery,on='id')

In [20]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [21]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,extra_runs,total_runs_y,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,0,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

In [22]:
delivery_df['current_score'] = delivery_df.groupby('id').cumsum()['total_runs_y']

In [23]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,total_runs_y,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157

In [24]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [25]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1

In [26]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [27]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,88
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,87
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,86
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,85
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2,18
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1,17
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0,16
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0,15
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1,14

In [28]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('id').cumsum()['player_dismissed'].values
delivery_df['wickets'] = 10 - wickets
delivery_df.head()

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,88,10
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,87,10
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,86,10
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,85,10
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,84,10

In [29]:
delivery_df.tail()

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2,18,6
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1,17,6
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0,16,6
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,caught,1,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0,15,5
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1,14,5

In [30]:
# crr = runs/overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [31]:
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [32]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets,crr,rrr
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,88,10,0.000000,15.136364
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,87,10,0.181818,15.241379
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,86,10,0.352941,15.348837
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,85,10,0.514286,15.458824
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,84,10,0.500000,15.642857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2,18,6,9.058824,0.666667
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1,17,6,9.029126,0.352941
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0,16,6,9.000000,0.000000
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0,15,5,8.914286,0.000000
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1,14,5,8.886792,-0.428571

In [33]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [34]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [35]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets,crr,rrr,result
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,88,10,0.000000,15.136364,0
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,87,10,0.181818,15.241379,0
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,86,10,0.352941,15.348837,0
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,85,10,0.514286,15.458824,0
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,84,10,0.500000,15.642857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,NaN,Mumbai Indians,Delhi Capitals,154,2,18,6,9.058824,0.666667,1
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,155,1,17,6,9.029126,0.352941,1
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,156,0,16,6,9.000000,0.000000,1
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,156,0,15,5,8.914286,0.000000,1
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,157,-1,14,5,8.886792,-0.428571,1

In [36]:
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]

In [37]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
121,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,88,10,222,0.000000,15.136364,0
122,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,87,10,222,0.181818,15.241379,0
123,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,86,10,222,0.352941,15.348837,0
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,85,10,222,0.514286,15.458824,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,84,10,222,0.500000,15.642857,0
...,...,...,...,...,...,...,...,...,...,...
166366,Mumbai Indians,Delhi Capitals,Dubai,2,18,6,156,9.058824,0.666667,1
166367,Mumbai Indians,Delhi Capitals,Dubai,1,17,6,156,9.029126,0.352941,1
166368,Mumbai Indians,Delhi Capitals,Dubai,0,16,6,156,9.000000,0.000000,1
166369,Mumbai Indians,Delhi Capitals,Dubai,0,15,5,156,8.914286,0.000000,1
166370,Mumbai Indians,Delhi Capitals,Dubai,-1,14,5,156,8.886792,-0.428571,1

In [38]:
final_df = final_df.sample(final_df.shape[0])

In [50]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
88034,Royal Challengers Bangalore,Kings XI Punjab,Bangalore,81,71,4,198,14.326531,6.84507,0

In [42]:
   final_df.dropna(inplace=True)

In [52]:
final_df = final_df[final_df['balls_left'] != 120]

In [53]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [54]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
1508,Delhi Daredevils,Deccan Chargers,Hyderabad,125,116,10,142,25.500000,6.465517
54512,Delhi Daredevils,Chennai Super Kings,Delhi,20,56,8,110,8.437500,2.142857
139132,Royal Challengers Bangalore,Mumbai Indians,Bengaluru,180,21,10,187,0.424242,51.428571
73839,Kings XI Punjab,Mumbai Indians,Mumbai,62,78,4,174,16.000000,4.769231
384,Kings XI Punjab,Chennai Super Kings,Chandigarh,181,51,9,240,5.130435,21.294118
...,...,...,...,...,...,...,...,...,...
29174,Delhi Daredevils,Mumbai Indians,Delhi,200,89,8,218,3.483871,13.483146
146260,Rajasthan Royals,Mumbai Indians,Jaipur,48,44,7,161,8.921053,6.545455
134896,Kolkata Knight Riders,Rajasthan Royals,Kolkata,74,68,7,142,7.846154,6.529412
155272,Delhi Capitals,Royal Challengers Bangalore,Abu Dhabi,66,97,9,152,22.434783,4.082474
158826,Kings XI Punjab,Kolkata Knight Riders,Sharjah,123,64,9,149,2.785714,11.531250

In [56]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [58]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [59]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [60]:
X_train.describe()

,runs_left,balls_left,wickets,total_runs_x,crr,rrr
count,62501.000000,62501.000000,62501.000000,62501.000000,62501.000000,62501.000000
mean,89.513048,68.435017,7.160733,164.984272,12.255749,11.315964
std,50.662397,33.238557,2.434095,28.827218,68.393256,14.022491
min,-16.000000,4.000000,0.000000,62.000000,-1068.000000,-4.000000
25%,49.000000,41.000000,6.000000,147.000000,4.173913,4.337349
50%,89.000000,69.000000,8.000000,165.000000,8.000000,8.121212
75%,128.000000,97.000000,9.000000,184.000000,14.352941,13.116279
max,246.000000,125.000000,10.000000,246.000000,1056.000000,247.500000

In [61]:
y_pred = pipe.predict(X_test)

In [62]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8154358121080251

In [71]:
pipe.predict_proba(X_test)[125]

array([0.06952442, 0.93047558])

In [72]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [73]:
delivery_df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', nan,
       'Bengaluru', 'Indore', 'Dubai', 'Sharjah'], dtype=object)

In [74]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))